.journal {
    &__container {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    &__main,
    &__header {
        padding: 25px;
        box-sizing: border-box;
    }

    &__main {
        align-items: flex-start;
        flex-grow: 1;
    }

    &__header {
        background-color: $secondary-color;
        color: $light-color;
        height: 100%;
        width: 350px;
    }
}

.toolbar {
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;
    }
}
